body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f8f8f8;
}

header{
    background:#ff5722;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.hero{
    text-align:center;
    margin-top:100px;
}

.hero h2{
    font-size:40px;
}

.hero p{
    font-size:20px;
    color:#555;
}

.btn{
    background:#ff5722;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
    margin:10px;
    display:inline-block;
}